POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_NAME=
POSTGRES_HOST=
POSTGRES_PORT=
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
ACCESS_TOKEN_EXPIRE_SECONDS=
REFRESH_TOKEN_EXPIRE_SECONDS=
PKCE_REQUIRED=
CORS_ALLOWED_ORIGINS=
CORS_ALLOW_ALL_ORIGINS=
DJANGO_SETTINGS_MODULE=
